@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: "Inter", sans-serif;
}
.btn-2{
    border-radius: 42px;
    padding: 16px 40px;
    /* width: 224px; */
    /* height: 54px; */
}
.btn-header{
    border-radius: 42px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.btn-primary{
    border: none;
    background: rgb(230, 83, 60);   
}
.b-1, .b-2{
    /* border: 1px solid red; */
    width: calc((100% - 10px )/2);
}

/* Home Btn...... */
.btn-primary-2{
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);  
    padding: 8px 20px;
    width: 92px;
    height: 38px;
}
.btn{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.btn-secondary{
    background: none; 
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);   
    /* position: relative; */
}

/* Header Section.................................. */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    /* border: 1px solid red; */
    /* position: relative;
    z-index: 1; */
}
.header-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    /* border: 2px solid red; */
    /* margin-bottom: 100px; */
}
nav{
    /* border: 2px solid green; */
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    /* border: 1px solid gray; */
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style: italic;
    height: 43px;
    font-weight: 800;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;  
}

nav ul li{
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
nav ul li:last-child{
    padding: 0px 20px;
}
nav ul a{
    text-decoration: none;
    color: white;
}
.hamburger{
    display: none;
}
.banner{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* height: 700px; */
}

.banner-content{
    /* width: 520px; */
    width: 47%;
    color: white;
    margin-top: 96px;
    /* border: 1px solid rebeccapurple; */
    /* margin: 96px 0px 76px 0px; */

}

.banner-greetings{
    font-size: 56px;
    font-weight: 900;
    /* line-height: 120%; */
    /* height: 282px; */
    /* border: 1px solid green; */
    padding-top:0px ;
    margin-bottom: 5px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    margin-bottom: 28px;
}
.shape{
    font-family: 'Miama', sans-serif;  
    font-weight: 400;  
    font-style: italic;
    /* height: 80.6px; */
     line-height: 80%;                                        
}

.btn-group{
    /* margin-right: 5px; */
    /* border: 1px solid red; */
    /* width: 462px; */
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* margin-right: 2%; */
}
.pc1{
    width: 300px;
    height: 500px;
    /* border: 1px solid red; */
    margin-top: 32px;
    /* margin-left: 275px; */
    margin-right: 2%;
    position: relative;   
}
.pc1 img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid gray; */
    /* height: auto; */
    /* padding: 30px; */
}
.views{
    width: 170px;
    /* height: 96px; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    /* background: rgba(48, 48, 48, 0.54); */
    position: absolute;
    /* color: rgb(250, 250, 249); */
    padding: 15px;
    border-radius:10px;
}
.ellipse{
    width: 35px;
    height: 35px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}
.v1{
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
    bottom: 63px;
    right: 220px;

}
.video h3{
    /* width: 68px; */
    /* height: 32px; */
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    }
.video h5{
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.5px;
}
.v2{
    background-color: rgba(212, 207, 207, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 17px 23px 16px 24px; */
    top: 125px;
    left: 220px;
    width: 160px;
}
.v2 h3{
    /* width: 116px; */
    /* height: 40px; */
    color: rgb(255, 255, 255);
     font-size: 34px;
    font-weight: 900;
    /* line-height: 40px; */
    letter-spacing: 1px;
    margin-bottom: 5px;
 
}
.v2 h5{
    /* width: 146px; */
    /* height: 20px; */
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    }

/*Change Your Habits section style starts here................................... */
.Habit-container{
    width: 79%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 100px;
    margin-top: 100px;
    color: white;
}

.Habit-container h2 , .Habit-container p{
    text-align: center;
}
.Habit-container h2{
    font-size: 48px;
    font-weight: 900;
    /* line-height: 120%; */
    margin-bottom: 14px;
    /* height: 58px; */
}

.Habit-container p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3px;
    width: 70%;
    margin: 0 auto;
}

.habit-items{
    margin-top:54px ;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;  
    color: white;
    /* text-align: center; */
    /* border: 1px solid green;  */
}

.habit-content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid red;  */
}
.habit-img{
    /* border: 1px solid red;  */
    /* margin-bottom: 30px; */
    display: flex;
    justify-content:center;
    align-items: center;
    /* width: 95%; */
}
.habit-img img{
    /* height: 100%; */
    width: 95%;
    border: 3px solid rgb(60, 58, 58);
    height: calc(100% - 6px);
    border-radius: 50%;
}
.habit-content h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
    /* margin-top: 30px; */
    text-align: center;
     width: 100%;
}
.habit-content p{
    width: 90%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 18px; */
    letter-spacing: 0.3px;
    
    text-align: center;
    /* margin-bottom: auto; */

}

/* Run Section.............................................................. */
.run-container{
    width: 80%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 39, 39);
    /* border: 2px solid green; */
    margin-bottom: 100px;
    border-radius: 10px;
}
.run-content{
    margin: 41px 0px 40px 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.run-content h3, .run-content p, .run-content button{
    /* margin: 10px 0px; */
    color: white;
}
.run-content p{
    width: 60%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-content h3{
    font-size: 48px;
    font-weight: 900;
    /* line-height: 120%; */
    /* height: 116px; */
}
.run-img{
    width: 480px;
    height:320px;
    /* height:98% ; */
    padding-right: 20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 0;
    /* overflow: hidden; */
    /* border: 2px solid rgb(52, 15, 66); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.run-img img{
    width: 100%;
    height:100%; 
    border-radius:18px;
    object-fit:none;
    object-position: 70% 32%;
    zoom: 85%;
}
/* BMI Section.................................... */
.BMI-Calculator{
    /* border: 1px solid red; */
    /* margin-bottom: 88px; */
    color: white;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 88px;
}
.BMI-head{
    /* border: 2px solid green; */
    text-align:left;
    width: 100%;
}
.BMI-head h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    /* line-height: 120%; */
}
.BMI-head p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.3px;
}
.triangle{
    display: none;
}

.BMI-area{
    background: rgb(34, 34, 34);
}
.BMI-container{
    /* background-color: aliceblue; */
    /* border: 2px solid red; */
    width: 81%;
    margin: 0 auto;
    margin-bottom: 88px;
    color: white;  
}

.BMI-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}
.BMI-chart h2{
    margin: 52px 0px;
    font-size: 28px;
    font-weight: 900;
    /* line-height: 120%; */
   /* margin-bottom: 10px; */
}
table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    /* padding: 50px; */
    /* width: 100%;
    height: 100%; */

}
th{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    /* line-height: 120%; */
    /* padding-top: 15px ; */
    /* padding-bottom: 14px; */
    height: 48px;
    /* text-align: left; */
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* padding: 5px 10px; */
    text-align: left;
    /* color: white;
    text-align: center; */
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 120%; */
}
#one{
    padding-left: 18px;
}
#two{
    padding-left: 24px;
}

.text{
    display: inline-block;
}
.BMI-form{
    width: 54%;
    /* padding: 30px; */
}
.BMI-form h3{
    margin-top: 49px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    /* line-height: 120%; */
    margin-bottom: 14px;

}
 .BMI-form p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.3px;
    margin-bottom: 34px;
    
}
.form-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 52px;
}
.form-group{
    display: flex;
    justify-content: space-between;
}
.form-container input, select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: calc((100% - 50px)/2);
    padding: 12px 0px 12px 20px;
    /* color: rgba(255, 255, 255, 0.6); */
    font-size: 16px;
    font-weight: 400;
    /* line-height: 22px; */
    margin-bottom: 12px;
    /* padding: 5px 0px; */
    border: none;
    outline: none;
}
input::placeholder,select{
    color:rgba(255, 255, 255, 0.5);
}
select{
    appearance: none;
    position: relative;
}
.factor{
    position: relative;
}
.factor::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    left: 93%;
    transform: rotate(45deg);
    top: 18%;
    pointer-events: none;
}
.f2::after{
    top: 25%;
}
.item{
    display: block;
    width: calc((100% - 10px)/2);
}
.w-factor{
    display: block;
    width: 100%;
    margin-bottom: 34px;
    background-position: calc(100% - 20px) center;
    padding-right: 30px;
}
.btn-width{
    width: 42%;
}

/* Team Section styles........................... */
.team-container{
    width: 80%;
    margin: 0 auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-bottom: 100px;
    color: white;
    text-align: center;
    
}
.team-container h2{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 120%;
    margin-bottom: 14px;
    
}
.team-container p{
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 0.3;
    width: 60%;
    margin-bottom: 58px;
}

.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: calc((100% - 40px));
    /* height:calc((100% - 40px)) ; */
    
}
.team-contents{
    position: relative;
    /* border: 1px solid gray; */
    height: auto;
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 300px;
    border-radius: 18px;
}
.Tr-1{
    background-image: url('images/trainer1.png');
}
.Tr-2{
    background-image: url('images/trainer2.png');
}
.Tr-3{
    background-image: url('images/trainer3.png');
}
.Tr-4{
    background-image: url('images/trainer4.png');
}
.Tr-5{
    background-image: url('images/trainer5.png');
}
.Tr-6{
    background-image: url('images/trainer6.png');
}

.team-contents h3{
    color:white;
    position: absolute;
    top: 80%;
    left: 10%;
    font-weight: 700;
    font-size: 22px;
}
.team-contents h5{
    color:rgba(199, 198, 198, 0.7);
    margin-top: 10px;
    position: absolute;
    top: 85%;
    left: 10%;
    font-weight: 400;
    font-size: 14px;

}

/* Success Stories style..................... */
.success-stories{
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 100px;
}
.success-stories h2{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 120%;
    margin-bottom: 14px;

}
.success-stories p{
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 0.3;
    width: 60%;
    margin: 0 auto;
    opacity: 0.7;
    margin-bottom: 58px;

}
.stories-container{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    color: black;
    /* background-color:rgb(65, 64, 64); */
    border-radius: 5px;
    background-color: white;
    gap: 20px;
    padding: 20px;
    text-align: left;
    /* padding: 20px; */
}
.story{
    border-radius: 10px;
    box-shadow: 0px 5px 30px 0px rgba(27, 26, 26, 0.6);
    margin: 10px;
    
}
.story h3{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}
.story p{
    width: 88%;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}


/* Footer section style...................................... */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-content{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* Fitness Container............. */
 .fitness-container{
    padding-top: 66px;
    /* border: 2px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 78px;
} 
.fitness-content{
    width: 32%;
    /* border: 2px solid green; */
    padding: 10px 0px;
    text-align: left;
}
.fitness-content h2{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    /* line-height: 120%; */
   margin-bottom: 20px; 
    margin-top: 20px; 
    /* height: 84px; */
}
.fitness-content p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.3px;

}
.get-started{
    width: 48%;
    /* margin: 0 auto; */
    /* right: 50% ; */
    display: flex;
    justify-content: space-between;
    color: white;
    /* border: 2px solid green; */
    /* margin-left:30px; */
    /* padding: 10px; */
    
}
.get-started-content{
    /* padding-left: 1px; */
    text-align: left;
    
}
.get-started-content h2{
    /* height: 39px; */
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;
    /* padding-right: 10px; */
    /* padding-right: 2px; */
    /* line-height: 120%; */
    /* text-align: left; */
}
.get-started-content h5{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    /* line-height: 120%; */
    margin-bottom: 20px;
    /* padding-left: 2px; */

}
.get-2 h2{
    padding-right: 2px;  
}
.last-item{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    /* line-height: 120%; */
    margin-bottom: 0px;
}

hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}
/* Footer style....................... */
.footer-content>h5{
     text-align: center;
     color: rgba(255, 255, 255, 0.5);
     font-size: 20px;
     font-weight: 400;
     /* line-height: 24px; */
     letter-spacing: 0.3px;
     padding-bottom: 35px;
}


/* Responsive Media Query................................................ */
/* For Small Devices */

    @media screen and (max-width: 576px) {
        .header-content{
            padding-top: 52px;
        }
        nav{
            /* border: 2px solid green; */
            height: 43px;
            
        }
    
        nav ul{
            display: none;
        }
        .hamburger{
            display:flex;
            color: white;
            justify-content: center;
            align-items: center;
            width: 24px;
        }
        .hamburger i{
            font-size: 24px;
        }
        .triangle {
            /* color:; */
            position: absolute;
            width: 0;
            height: 0;
            margin:0 auto ;
            /* left: 5px; */
            border-left: 1.2vw solid transparent;
            border-right: 1.2vw solid transparent;
            border-bottom: 2.1vw solid rgb(250, 250, 249);
            transform: rotate(90.00deg);
            display: flex;
          }
          .ellipse{
            width: 6vw;
            height: 6vw;
            display: flex;
            justify-content:center ;
            align-items: center;
            position: relative;
          }
        
        .BMI-content,
        .fitness-container,
        .get-started,
        .run-container,
        .banner,
        .stories-container{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .banner{
            /* border: 1px dotted red; */
        }
        .banner-content{
            margin-top: 51px;
            width: 100%;
            /* border: 1px solid red; */
        }
        .banner-greetings{
            width: 80%;
            font-size: 7vw;
            margin-bottom: 28px;
        }
        
        .banner-description{
            width: 80%;
            font-size: 3vw;
            margin-bottom: 28px;
        }
        .btn-group{
            width: 100%;
            font-size:3.5vw ;
            margin-bottom: 48px;
        }
       
        .pc1{
            /* border: 1px solid red; */
            width: 100%;
            margin: 0 auto;
            height: 420px;
            /* height: auto; */
            /* overflow: hidden; */
            /* position: relative; */
        }
        .pc1 img{
            /* border: 1px solid gray; */
            width:100% ;
            margin: 0 auto;
            /* height: auto; */
            height: 100%;
            object-fit:contain;
        }
        .btn-header{
            font-size: 3vw;
        }
        .v1{
            width: 38%;
            justify-content: space-evenly;
            position: absolute;
            border: 0.76px solid rgba(255, 255, 255, 0.1);
            border-radius: 9.07px;
            backdrop-filter: blur(15.12px);
            gap: 5px;
            padding: 10px;
            right: 53%;
            bottom: 42%;
        }
        .video h3{
        font-size: 4.5vw;
        /* font-size: calc(1vw + 1.4em); */
        }
        .video h5{
            font-size: 2.4vw;
        /* font-size:calc(1vw + 1em); ; */
        letter-spacing: 0.1px;
        }
        .v2{
            width: 39%;
            position: absolute;
            border: 0.76px solid rgba(255, 255, 255, 0.1);
            border-radius: 9.07px;
            backdrop-filter: blur(15.12px);
            top: 10%;
            left: 55%;
            /* padding-left: 7px; */
            padding: 10px;
        }
        .v2 h3{
            font-size: 4.8vw;
            letter-spacing: 0.16px;
            padding-left: 2px;
        }
        .v2 h5{
            font-size: 2.1vw;
            padding-left: 2px;
        }
        .Habit-container{
            margin-top: -70px;
            position: relative;
            z-index: 1;
            background: black;
            height: auto;
        }
        .Habit-container h2{
            font-size: 5vw;
            margin-bottom: 14px;
            /* height: 58px; */
        }
        .Habit-container p{
            font-size: 3vw;
            /* line-height: 24px; */
            width: 90%;
            margin: 0 auto;
        }
        .habit-items{
            margin-top:58px ;
            grid-template-columns: 1fr;
            gap: 20px;  
            /* border: 1px solid green;  */
    
        }
        .habit-img img{
            width: 100%;
        }
        .habit-content{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 40px;
        
        }
        .habit-content h3{
            font-size: 3.3vw;
            /* margin-top: 30px; */
             width: 100%;
        }
        .habit-content p{
            width: 71%;
            font-size: 2.7vw;
        }
        .habit-4{
            margin-bottom: 0px;
            padding-bottom: 0px; 
        }

        .run-content{
            width: 80%;
            margin: 0 auto; 
            /* border: 1px solid red;  */
            /* margin: 31px 0px;  */
            margin-top: 31px;
            margin-bottom: 31px;
        }
        .run-content p{
            width: 100%;
            font-size: 3vw;
        }
        .run-content h3{
            font-size: 5vw;
        }
        .run-content>button{
            width: 100%;
            font-size: 3.5vw;
        }
        .run-img{
            width: 80%;
            height:250px;
            margin: 0 auto;
            /* border: 2px solid rgb(52, 15, 66); */
            padding-right: 0px;
    
        }
        .club{
            display: none;
        }
        .run-img img{
            width: 100%;
            height:90%; 
            object-fit:none;
            object-position: 70% 5%;
            zoom: 35%;
        }

        .BMI-Calculator{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 32px;
        }
        .BMI-head{
            width: 100%;
        
        }
        .BMI-head h1{
            font-size: 5.5vw;
            margin-bottom: 14px;
        }
        .BMI-head p{
            font-size: 3vw;
        }
        .BMI-chart{
            /* border: 1px solid red; */
            width: 100%;
            margin-bottom: 0px;
        }

        .BMI-chart h2{
            margin: 34px 0px 23px 0px;
            font-size: 3.6vw;
        }
        table{
            width: 80%;
            /* width:255px; */
        }
        th{
            font-size: 3.5vw;
        }
        #one{
            padding-left: 3vw;
        }
        #two{
            padding-left: 3.3vw;
        }
       
        td{
            font-size: 3vw;
        }
       
        .BMI-form{
            width: 100%;
        }
        .BMI-form h3{
            margin-top: 42px;
            font-size: 4vw;
            margin-bottom: 14px;
        }
        .BMI-form p{
            font-size: 2.8vw;
        }
        .form-container{
            margin-bottom: 43px;
        }
        .btn-width{
            width: 64%;
            font-size: 3.5vw;
        }
        .factor::after{
            width: 2vw;
            height: 2vw;
        }

        .form-container input, select{
            font-size: 3vw;
          
        }

        /* Team members............... */
        .team-members{
            grid-template-columns: 1fr; 
        }
        .Tr-1, .Tr-4{
            display: none;
        }
        .Tr-3{
            order: 3;
        }
        .Tr-6{
            order: 4;
        }
        .team-container{
            margin-bottom: 66px;
        }
        .team-container h2{
            font-size: 5vw;
            /* border: 1px dotted red; */
            width: 80%;
            margin: 0 auto; 
            margin-bottom: 14px;
        }
        .team-container p{
            /* border: 1px dotted red; */
            font-size: 3vw;
            width: 80%;
            margin-bottom: 37px;
        }
        .team-contents{
            height: 290px;
        }
        .team-contents h3{
            font-size: 3.5vw;
        }
        .team-contents h5{
            font-size: 2.7vw;
        }

        
    /* Success story ..... */
    .success-stories{
        margin-bottom: 66px;
    }
    .success-stories h2{
        font-size: 5vw;
        margin-bottom: 14px;
    }
    .success-stories p{
        font-size: 3vw;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    
    }
    .story h3{
        font-size: 4vw;
        /* letter-spacing: 120%; */
        margin-bottom: 15px;
    }
    .story p{
        width: 85%;
        font-size: 2.8vw;
    }
    
        /* Footer..................... */
        .fitness-container{
            margin-top: 44px;
            margin-bottom: 72px;
            /* border: 1px solid red; */
        } 
        .fitness-content{
            width: 80%;
            /* border: 2px solid green; */
        }
        .fitness-content h2{
            font-size: 11vw;
            margin-top: 0px;
            /* margin-bottom: 1px; */
        }
        .fitness-content p{
           margin-bottom: 30px;
           font-size: 3vw;
        }
        .get-started{
            width: 100%;
            /* border: 2px solid green;    */
        }
        .get-started-content{
            /* border: 1px dotted red; */
            width: 50%;
        }
        
        .get-started-content h2{
            font-size: 6vw;
        }
        .get-started-content h5{
            font-size: 4vw;
            margin-bottom: 20px;
        }
        .get-1{
            margin-bottom: 20px;
        }
    
        .last-item{
           font-size: 4vw;
        }
        
        hr{
            margin-bottom: 41px;
        }
        .footer-content>h5{
            text-align: left;
             font-size: 4vw;
             padding-bottom: 57px;
        }
       
       
        
    }
